<%= simple_form_for @party do |form| %>
  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :phone_number %>
    <p>Number Format should be 923026255612<p>
  </div>

  <div class="field">
    <%= form.input :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
