<%= simple_form_for @send_message do |form| %>
  <% if @send_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(send_message.errors.count, "error") %> prohibited this send_message from being saved:</h2>
      <ul>
        <% @send_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        <% if @messages_errors.errors.any? %>
          <li>Message not sent successfully to them</li>
          <% @messages_errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
         <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.input :srial_number %>
  </div>
  <div class="field">
    <%= form.input :vehicle_number %>
  </div>
  <div class="field">
    <%= form.input :product %>
  </div>
  <div class="field">
    <%=form.label :"Weight type" %>
    <%= select_tag :weight_type, options_for_select(SendMessage.weight_types.map { |k, v| [k, v] }), prompt: 'Select Weight Type', class: "form-control", name:"send_message[weight_type]" %>
  </div>
  <div class="field">
    <%= form.input :before_load_weight %>
  </div>
  <div class="field">
    <%= form.input :after_load_weight %>
  </div>
  <div class="field">
    <%= form.input :cash %>
  </div>
  <div class="field">
    <%=form.label :"Select party" %>
      <%=select_tag :'party_id', options_for_select(Party.all.map { |c| [c.name, c.id] }), :multiple => true, :include_blank => false, class: "form-control select2" %>
    </div>

  <br><div class="field">
    <%=form.label :"Select Driver" %>
    <%= select_tag :'driver_id', options_for_select(Driver.all.map { |c| [c.name, c.id] }), prompt: 'Select Driver', class: "form-control select2" %>
  </div>
  <div class="actions">
    <%= form.submit id: "commit" %>
  </div>
<% end %>
