<h1>Send Messages</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Serialnumber</th>
    <th>Vehiclenumber</th>
    <th>Product</th>
    <th>Weighttype</th>
    <th>BeforeloadWeight</th>
    <th>AfterloadWeight</th>
    <th>Netweight</th>
    <th>Cash</th>
    <th>Phone Number</th>
    <th>Party</th>
    <th>Driver</th>
    <th colspan="3">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @send_messages.each do |send_message| %>
    <tr>
      <td><%= send_message.srial_number %></td>
      <td><%= send_message.vehicle_number %></td>
      <td><%= send_message.product %></td>
      <td><%= send_message.weight_type %></td>
      <td><%= send_message.before_load_weight %></td>
      <td><%= send_message.after_load_weight %></td>
      <td><%= send_message.net_weight %></td>
      <td><%= send_message.cash %></td>
      <td><%= send_message.phone_number if  send_message.phone_number.present? %></td>
      <td><%= Party.find_by(id: send_message.party_id).name if send_message.party_id.present?%></td>
      <td><%= Driver.find_by(id: send_message.driver_id).name if send_message.driver_id.present? %></td>
      <td><%= link_to 'Show', send_message, class: "" %></td>
      <td><%= link_to 'Destroy', send_message, method: :delete, data: { confirm: 'Are you sure?' }, class: "" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Send Message', new_send_message_path, class: "btn btn-success" %>
