

<p>
  <strong>Srial number:</strong>
  <%= @send_message.srial_number %>
</p>

<p>
  <strong>Vehicle number:</strong>
  <%= @send_message.vehicle_number %>
</p>

<p>
  <strong>Product:</strong>
  <%= @send_message.product %>
</p>

<p>
  <strong>Weight type:</strong>
  <%= @send_message.weight_type %>
</p>

<p>
  <strong>First weight:</strong>
  <%= @send_message.first_weight %>
</p>

<p>
  <strong>Second weight:</strong>
  <%= @send_message.second_weight %>
</p>

<p>
  <strong>Net weight:</strong>
  <%= @send_message.net_weight %>
</p>

<p>
  <strong>Cash:</strong>
  <%= @send_message.cash %>
</p>

<p>
  <strong>Party:</strong>
  <%= @send_message.party_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @send_message.driver_id %>
</p>

<%= link_to 'Edit', edit_send_message_path(@send_message) %> |
<%= link_to 'Back', send_messages_path %>
