<table class="table table-light">
  <thead>
  <tr>
    <th scope="col">Serialnumber</th>
    <th scope="col">Vehiclenumber</th>
    <th scope="col">Product</th>
    <th scope="col">Weighttype</th>
    <th scope="col">Srialnumber</th>
    <th scope="col">BeforeloadWeight</th>
    <th scope="col">AfterloadWeight</th>
    <th scope="col">Netweight</th>
    <th scope="col">Cash</th>
    <th scope="col">Party</th>
    <th scope="col">Driver</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @send_message.srial_number %></td>
    <td><%= @send_message.vehicle_number %></td>
    <td><%= @send_message.vehicle_number %></td>
    <td><%= @send_message.weight_type %></td>
    <td><%= @send_message.before_load_weight %></td>
    <td><%= @send_message.after_load_weight %></td>
    <td><%= @send_message.cash %></td>
    <td><%= Party.find_by(@send_message.party_id).name %></td>
    <td><%= Driver.find_by(@send_message.driver_id).name %></td>
  </tr>
  </tbody>
</table>
<%= link_to 'Back', send_messages_path,class:"btn btn-secondry"%>
